<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Block Jump</title>
    <!-- BOOSTRAP 4 -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
      crossorigin="anonymous">
      <link rel="stylesheet" href="{{url_for('static', filename='css/ebody.css')}}">
  </head>
  <body onload="startGame()">
    <!-- Navbar  -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Block Jump Game</a>
    </nav>
  
    <main>
      <!--    Seccion para pantalla de juego    -->
      <section class="sectio1">
        <!-- Contenedor de lienzo canvas -->
        <div class="container pt-4" id="container">
          {% block content %}
  
          {% endblock %}
        </div> 
      </section>
      <!--  Seccion para controles  -->
      <section class="section2">
        <!-- Boton para reiniciar juego (recargamos pagina)-->
        <button class="btn btn-primary" onclick="window.location.href = '/'">Iniciar / Reiniciar</button>
      </section>
    
    </main>
 
    <!-- footer -->
    <footer class="footer text-center">
      <h2>Samuel Ledesma</h2>
    </footer>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/js_canvas.js')}}"></script>
  </body>
</html>
